.page1-container {
    background-color: rgb(101, 137, 235);
    margin: 10px;
    border-radius: 10px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.main1 {
    margin: 20px;
}

.img-container {
    background-color: rgb(167, 241, 241);
    display: grid; // Habilitamos CSS Grid
    grid-template-columns: repeat(3, 1fr); // Creamos 3 columnas con el mismo tamaño
    gap: 10px; // Espacio entre las imágenes (ajústalo a tu preferencia)
    justify-items: center; // Centra las imágenes dentro de cada celda
    align-items: center;
}

.example-img {
    width: 90px;
    background-color: aliceblue;
    border-radius: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 73, 255);
}

.button-page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: aquamarine;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    border-radius: 5%;
}