.page1-container {
    height: 100vh;
    background-color:rgb(242, 250, 125);
font-family: "Quicksand", sans-serif;}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;

}

.main1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 90px;
}

.img-container {
    background-color: rgb(238, 193, 69);
    display: grid; // Habilitamos CSS Grid
    grid-template-columns: repeat(3, 1fr); // Creamos 3 columnas con el mismo tamaño
    gap: 10px; // Espacio entre las imágenes (ajústalo a tu preferencia)
    justify-items: center; // Centra las imágenes dentro de cada celda
    align-items: center;
    border-radius: 10px ;
}

.example-img {
    width: 80px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color:rgb(238, 193, 69);
    font-size: 20px;
    padding: 10px;
    width: 200px;
    height: 80px;
    margin: 30px;
    border-radius: 10px;
    text-decoration: none;
}